@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
}
* #mainCon {
  width: 100vw;
  height: 100vh;
  background-color: #c7ecd9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
}
* #mainCon #searchBox {
  width: 50%;
  height: 70%;
  background-color: #001f3f;
  border-radius: 1.5vw;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* #mainCon #searchBox #t1 {
  color: #c7ecd9;
  margin: 0 0 5vh 0;
}
* #mainCon #searchBox #t1 .icon1 {
  transform: rotate(-20deg);
  vertical-align: bottom;
  font-size: 4vw;
}
* #mainCon #searchBox #p1 {
  color: #f2f2f2;
  width: 80%;
  text-align: center;
  margin: 0 0 3vh 0;
}
* #mainCon #searchBox .box {
  position: relative;
}
* #mainCon #searchBox .box .input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: 4px solid #c7ecd9;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #c7ecd9;
  outline: none;
  transition: 0.5s;
}
* #mainCon #searchBox .box:hover input {
  width: 350px;
  background: #c7ecd9;
  border-radius: 10px;
  color: #001f3f;
}
* #mainCon #searchBox .box i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #c7ecd9;
  transition: 0.2s;
}
* #mainCon #searchBox .box:hover i {
  opacity: 0;
  z-index: -1;
}
* #mainCon #searchBox #tog {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 5vh;
}
* #mainCon #searchBox #tog h1 {
  color: #c7ecd9;
  font-size: 1.5vw;
}
* #mainCon #searchBox #tog .switch {
  --secondary-container: #f2f2f2;
  --primary: #001f3f;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.4em;
  top: 0vh;
  left: 0.3vw;
}
* #mainCon #searchBox #tog .switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}
* #mainCon #searchBox #tog .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7ecd9;
  transition: 0.2s;
  border-radius: 30px;
}
* #mainCon #searchBox #tog .slider:before {
  position: absolute;
  content: "";
  height: 1.1em;
  width: 1.1em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #001f3f;
  transition: 0.4s;
}
* #mainCon #searchBox #tog input:checked + .slider::before {
  background-color: var(--primary);
}
* #mainCon #searchBox #tog input:checked + .slider {
  background-color: var(--secondary-container);
}
* #mainCon #searchBox #tog input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
}
* #mainCon #searchBox #tog input:checked + .slider:before {
  transform: translateX(1.5em);
}
* #mainCon #searchBox #help {
  color: #c7ecd9;
  position: relative;
  bottom: -6vh;
  font-size: 0.8vw;
  text-align: center;
}

@media (max-width: 768px) {
  #mainCon #searchBox {
    width: 80%;
  }
  #mainCon #searchBox #t1 .icon1 {
    font-size: 10vh;
  }
  #mainCon #searchBox #tog h1 {
    font-size: 4vh;
    position: relative;
    top: -0.5vh;
    left: -1vh;
  }
  #mainCon #searchBox #help {
    font-size: 2vh;
  }
}
@media (max-width: 425px) {
  #mainCon #searchBox {
    width: 90%;
  }
  #mainCon #searchBox .box .input {
    width: 60px;
    height: 60px;
  }
  #mainCon #searchBox .box:hover input {
    width: 300px;
  }
  #mainCon #searchBox .box i {
    right: 10px;
    font-size: 20px;
  }
  #mainCon #searchBox #help {
    margin: 0 0 1.5vh 0;
  }
}
@media (max-width: 320px) {
  #mainCon #searchBox {
    width: 90%;
  }
  #mainCon #searchBox .box .input {
    width: 60px;
    height: 60px;
  }
  #mainCon #searchBox .box:hover input {
    width: 250px;
  }
  #mainCon #searchBox .box i {
    right: 10px;
    font-size: 20px;
  }
  #mainCon #searchBox #tog h1 {
    font-size: 4vh;
    position: relative;
    top: 0vh;
    left: -1vh;
  }
  #mainCon #searchBox #help {
    width: 90%;
    text-align: center;
    margin: 0 0 3vh 0;
    font-size: 2vh;
  }
}/*# sourceMappingURL=main.css.map */