@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
}
* #displayCon {
  width: 100vw;
  height: 100vh;
  background-color: #c7ecd9;
  overflow-x: hidden;
}
* #displayCon nav {
  width: 100%;
  height: auto;
  padding: 1vh 0 0 0;
  display: flex;
  flex-direction: row;
}
* #displayCon nav #logo {
  width: 12vw;
  height: 10vh;
  background-color: #001f3f;
  color: #f2f2f2;
  font-family: "Inter";
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 1vh 0;
  margin: 0 0 0 5vw;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
* #displayCon nav #logo a {
  color: #c7ecd9;
  font-size: 1.3vw;
  text-decoration: none;
}
* #displayCon nav #logo a .icon1 {
  transform: rotate(-20deg);
  position: relative;
  top: 0.5vh;
  font-size: 2.3vw;
  color: #c7ecd9;
}
* #displayCon nav #logo:hover {
  transform: scale(1.1);
  transition: 700ms ease-in-out;
  cursor: pointer;
}
* #displayCon nav #cCon {
  position: relative;
  right: -55%;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
* #displayCon nav #cCon .box {
  position: relative;
}
* #displayCon nav #cCon .box .input {
  padding: 10px;
  width: 55px;
  height: 55px;
  background: none;
  border: 4px solid #001f3f;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #c7ecd9;
  outline: none;
  transition: 0.5s;
}
* #displayCon nav #cCon .box:hover input {
  width: 350px;
  background: #001f3f;
  border-radius: 10px;
  color: #c7ecd9;
}
* #displayCon nav #cCon .box i {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: #001f3f;
  transition: 0.2s;
}
* #displayCon nav #cCon .box:hover i {
  opacity: 0;
  z-index: -1;
}
* #displayCon #cap {
  color: #001f3f;
  font-family: "Inter";
  margin: 5vh 0 0 10vw;
}
* #displayCon #resCon {
  width: 100vw;
  height: auto;
  padding: 1vw 1vw 1vw 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
* #displayCon #resCon #mdl {
  width: 39vw;
  height: auto;
  background-color: #001f3f;
  border-radius: 1.5vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  margin: 1vw 0 1vw 1vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 1vw;
}
* #displayCon #resCon #mdl #lef {
  width: 20%;
  height: 100%;
  margin: 0 0.5vw 0 0;
}
* #displayCon #resCon #mdl #lef a img {
  width: 100%;
  height: 90%;
  border-radius: 1vw;
}
* #displayCon #resCon #mdl a {
  width: 80%;
  text-decoration: none;
  color: #f2f2f2;
}
* #displayCon #resCon #mdl a h1 {
  font-size: 2vw;
}
* #displayCon #resCon #mdl a #synop {
  width: 98%;
  height: auto;
  margin: 0.5vh 0 0 0;
  text-align: justify;
}

@media (max-width: 768px) {
  #displayCon nav #logo {
    width: 15vw;
  }
  #displayCon nav #cCon .box .input {
    width: 50px;
    height: 50px;
  }
  #displayCon nav #cCon .box:hover input {
    width: 250px;
  }
  #displayCon nav #cCon .box i {
    font-size: 20px;
  }
  #displayCon #cap {
    font-size: 1.3vw;
  }
  #displayCon #resCon #mdl {
    width: 45vw;
  }
  #displayCon #resCon #mdl a h1 {
    font-size: 3vw;
  }
}
@media (max-width: 425px) {
  #displayCon nav #logo {
    width: 20vw;
    height: 7vh;
  }
  #displayCon nav #logo a {
    font-size: 2vw;
  }
  #displayCon nav #logo a .icon1 {
    font-size: 3.5vw;
    top: 0.3vh;
  }
  #displayCon nav #cCon {
    right: -45%;
  }
  #displayCon nav #cCon .box .input {
    width: 30px;
    height: 30px;
    border: 2px solid #001f3f;
  }
  #displayCon nav #cCon .box:hover input {
    width: 150px;
  }
  #displayCon nav #cCon .box i {
    right: 2px;
    font-size: 13px;
  }
  #displayCon #cap {
    font-size: 3vw;
  }
  #displayCon #resCon #mdl {
    width: 90vw;
  }
  #displayCon #resCon #mdl a h1 {
    font-size: 4vw;
  }
}
@media (max-width: 320px) {
  #displayCon nav #logo {
    width: 38vw;
    height: 7vh;
  }
  #displayCon nav #logo a {
    font-size: 4vw;
  }
  #displayCon nav #logo a .icon1 {
    font-size: 6vw;
    top: 0.3vh;
  }
  #displayCon nav #cCon {
    right: -30%;
  }
  #displayCon nav #cCon .box .input {
    width: 30px;
    height: 30px;
    border: 2px solid #001f3f;
  }
  #displayCon nav #cCon .box:hover input {
    width: 100px;
  }
  #displayCon nav #cCon .box i {
    right: 2px;
    font-size: 13px;
  }
  #displayCon #cap {
    font-size: 3vw;
  }
  #displayCon #resCon #mdl {
    width: 96vw;
    margin: 1vh 0 0 0;
  }
  #displayCon #resCon #mdl a h1 {
    font-size: 5vw;
  }
}/*# sourceMappingURL=reco.css.map */