
// #c7ecd9 - light mint green
// #001f3f - navy blue
// #f2f2f2 - light gray
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;

    #displayCon {
        width: 100vw;
        height: 100vh;
        background-color: #c7ecd9;
        overflow-x: hidden;
        
        nav {
            width: 100%;
            height: auto;
            padding: 1vh 0 0 0;
            display: flex;
            flex-direction: row;



            #logo {
                width: 12vw;
                height: 10vh;
                background-color: #001f3f;
                color: #f2f2f2;
                font-family: 'Inter';
                border-radius: 1vw;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0 1vh 0;
                margin: 0 0 0 5vw;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

                .icon1 {
                    transform: rotate(-20deg);
                    position: relative;
                    top: 0.5vh;
                    font-size: 2.3vw;
                }
            }
            .box{
                position: relative;
                right: -65vw;
                .input {
                    padding: 10px;
                    width: 60px;
                    height: 60px;
                    background: none;
                    border: 4px solid #001f3f;
                    border-radius: 50px;
                    box-sizing: border-box;
                    font-family: Comic Sans MS;
                    font-size: 26px;
                    color: #001f3f;
                    outline: none;
                    transition: .5s;
                }
            }
            

            .box:hover input{
                width: 350px;
                background: #001f3f;
                border-radius: 10px;
                color: #f2f2f2; 
                transform: translate(-60%); /* Adjusted to expand to the left */

            }
            .box i{
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translate(-33%,-70%);
                font-size: 19px;
                color: #001f3f;
                transition: .2s;
            }
            .box:hover i{
                opacity: 0;
                z-index: -1;
            }
        }

        #resCon {
            width: 100vw;
            height: auto;
            padding: 1vw 1vw 1vw 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;

            #mdl {
                width: 20vw;
                height: auto;
                background-color: #001f3f;
                border-radius: 1.5vw;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                overflow: hidden;
                margin: 1vw 0 1vw 1vw;

                a {
                    text-decoration: none;
                    color: #f2f2f2;
                    img {
                        width: 100%;
                        height: 50%;
                        object-fit: contain;
                        border-radius: 1.5vw 1.5vw 0 0;
                    }
                    h1 {
                        font-size: 2vw;
                        text-align: center;
                    }
                    #below {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                    }
                }
            }
        }
    }
}